$color-blue: #646eff;
$color-light-blue: #d7f8ff;
$color-aqua: #d2f8f0;
$color-rose: #fce6f0;
$color-sand: #ffeab9;
$color-peach: #fddfd8;
$color-grey: #0000000f;
$color-grey-dark: #ededf1;
$color-white: #fff;
$color-black: #000;

$color-text: #2b394e;
$color-text-dark: #f7f9f9;

$color-bg-light: #fff;
$color-bg-dark: #1f2833;