.mobile-menu {
    display: none;
    position: relative;
    @include respond(max-tab) {
        display: block;
    }

    .sub-nav {
        left: initial;
        right: 0;
        min-width: 20rem;
        text-align: right;
    }

    .bar {
        width: 2.5rem;
        height: 3px;
        background-color: $color-text;
        display: block;

        margin-top: .6rem;
        
        &-container {
            padding: 1.2rem;
        }
    }
}

#mobile-menu {

    &:checked + .sub-nav {
        display: block;
    }
}