.header {
    height: 15rem;
    display: flex;
    align-items: center;

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {

        &-img {
            height: 4.5rem;
            object-fit: cover;
        }
    }

    &__right {
        @include respond(max-tab) {
            display: none;
        }

        &-item {
            font-size: 2rem;
            font-weight: 900;
            color: $color-text;
            & + & {
                margin-left: 3rem;
            }
        }
    }

}