@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    html {
      font-size: 59.375%; } }
  @media only screen and (max-width: 480px) {
    html {
      font-size: 53.125%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 480px) {
    body {
      overflow-x: hidden; } }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5; }

.btn {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 900;
  border-radius: 10rem;
  transition: all 0.2s; }
  .btn.btn--md {
    padding: 1.2rem 2.2rem; }
  .btn.btn--lg {
    padding: 2.5rem 3rem; }
    @media only screen and (min-width: 1024px) and (max-width: 1199px) {
      .btn.btn--lg {
        padding: 2.2rem 2.6rem; } }
    @media only screen and (max-width: 480px) {
      .btn.btn--lg {
        padding: 2.2rem 1.6rem; } }
  .btn.btn--blue {
    background-color: #646eff;
    color: #fff; }
    .btn.btn--blue:hover {
      background-color: #1826ff; }

.search {
  font-size: 2rem;
  display: inline-block; }
  .search-icon {
    cursor: pointer;
    padding: 0.4rem; }
  .search label {
    width: 100%;
    height: 100%; }

.section__heading {
  position: absolute;
  top: 2rem;
  left: -10rem;
  transform: rotate(-90deg);
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.8rem; }
  .section__heading__seperate {
    width: 10rem;
    display: block;
    margin: 0.8rem auto 2rem;
    fill: #0000000f;
    transform: translateX(-4px);
    display: none; }
    @media only screen and (max-width: 1023px) {
      .section__heading__seperate {
        display: block; } }
  @media only screen and (max-width: 1023px) {
    .section__heading {
      position: initial;
      transform: rotate(0);
      text-align: center; } }

.post {
  --gap: 2rem;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 1023px) {
    .post {
      flex-direction: column;
      --gap: 0; } }
  @media only screen and (max-width: 480px) {
    .post {
      padding: 0 2rem; } }
  .post__img {
    height: 60rem;
    width: 57.5rem;
    object-fit: cover;
    border-radius: 4.4rem;
    padding: 0 var(--gap); }
    @media only screen and (max-width: 1023px) {
      .post__img {
        width: 100%; } }
    @media only screen and (max-width: 767px) {
      .post__img {
        height: 40rem; } }
    @media only screen and (max-width: 480px) {
      .post__img {
        height: initial; } }
  .post__content {
    padding: 0 var(--gap); }
    @media only screen and (max-width: 1023px) {
      .post__content {
        padding: 2.4rem; } }
  .post__heading {
    margin-top: 3.2rem; }
    .post__heading a {
      font-size: 5.4rem;
      font-weight: 900;
      color: #2b394e;
      line-height: 1.2; }
  .post__desc {
    font-size: 1.8rem;
    font-weight: 800;
    color: #2b394e;
    margin: 3.2rem 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden; }
  .post__detail {
    display: flex;
    align-items: center; }
    .post__detail-left {
      min-width: 9rem; }
      .post__detail-left .post__authors-link:last-child {
        position: relative;
        left: -1.4rem; }
  .post__authors {
    display: block; }
    .post__authors-link {
      font-weight: 800;
      color: #2b394e; }
      .post__authors-link:hover {
        text-decoration: underline; }
    .post__authors-img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #fff; }
  .post__read-time {
    margin-left: 1rem;
    color: #646eff; }

.tag {
  padding: 1.2rem;
  background-color: #0000000f;
  font-size: 1rem;
  font-weight: 700;
  color: #2b394e;
  border-radius: 10rem;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .tag:hover {
    background-color: #ededf1; }
  .tag.tag--round {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    line-height: 3.2rem; }

.card {
  color: #2b394e;
  transition: 0.2s ease; }
  .card a {
    color: #2b394e; }
  .card .card__authors {
    margin-bottom: .8rem; }
  .card.card--md, .card.card--lg {
    min-height: 56rem;
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    overflow: hidden;
    padding-bottom: 1.2rem; }
    @media only screen and (max-width: 1023px) {
      .card.card--md, .card.card--lg {
        height: 100%;
        min-height: 36rem; } }
    .card.card--md .card__img, .card.card--lg .card__img {
      width: 100%;
      height: 33rem;
      object-fit: cover; }
      @media only screen and (max-width: 1023px) {
        .card.card--md .card__img, .card.card--lg .card__img {
          height: 20rem; } }
    .card.card--md .card__content, .card.card--lg .card__content {
      padding: 1.2rem 2.8rem;
      display: flex;
      flex-direction: column;
      flex: 1; }
    .card.card--md .card__heading, .card.card--lg .card__heading {
      font-size: 2.6rem;
      font-weight: 900;
      line-height: 1.3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden; }
    .card.card--md .card__authors, .card.card--lg .card__authors {
      margin-top: .6rem; }
      .card.card--md .card__authors-link, .card.card--lg .card__authors-link {
        color: #2b394e;
        font-weight: 800; }
        .card.card--md .card__authors-link:hover, .card.card--lg .card__authors-link:hover {
          text-decoration: underline; }
    .card.card--md .card__bottom, .card.card--lg .card__bottom {
      margin-top: auto;
      display: flex;
      justify-content: space-between; }
    .card.card--md .tag:hover, .card.card--lg .tag:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .card.card--lg {
    min-height: 53rem; }
  .card:hover {
    transform: translateY(-4px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
  .card.card--sm {
    padding: 1.8rem;
    border-radius: 2.6rem; }
    .card.card--sm .card__img {
      width: 100%;
      height: 16.5rem;
      object-fit: cover;
      border-radius: 1.2rem; }
      @media only screen and (max-width: 480px) {
        .card.card--sm .card__img {
          height: 12rem; } }
    .card.card--sm .card__content {
      margin-top: 1rem;
      padding: 0 .8rem; }
    .card.card--sm .card__heading {
      font-size: 1.9rem;
      font-weight: 900;
      line-height: 1.2;
      margin-bottom: 4px; }
    @media only screen and (max-width: 1023px) {
      .card.card--sm .card__authors {
        display: none; } }
    .card.card--sm .card__authors-link {
      font-size: 1.3rem;
      font-weight: 900;
      color: #2b394e; }
      .card.card--sm .card__authors-link:hover {
        text-decoration: underline; }
  .card.card--sm-h {
    width: max-content;
    padding: 1.6rem;
    border-radius: 1.4rem;
    display: flex;
    align-items: center; }
    .card.card--sm-h .card__img {
      width: 9rem;
      height: 9rem;
      object-fit: cover;
      border-radius: 1.2rem;
      margin-right: 2rem; }
    .card.card--sm-h .card__name {
      font-size: 1.8rem;
      font-weight: 800;
      padding-right: 2rem; }
  .card--light-blue {
    background-color: #d7f8ff !important; }
  .card--peach {
    background-color: #fddfd8 !important; }
  .card--aqua {
    background-color: #d2f8f0 !important; }
  .card--sand {
    background-color: #ffeab9 !important; }
  .card--rose {
    background-color: #fce6f0 !important; }

.pagination {
  padding: 2.4rem;
  text-align: center; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  animation: fadeIn 0.2s linear;
  z-index: 0; }

.search-modal {
  animation: fadeIn 0.2s linear;
  display: none; }
  .search-modal__close {
    position: fixed;
    top: 5rem;
    right: 5rem;
    font-size: 4rem;
    color: #fff;
    z-index: 1; }
    .search-modal__close label {
      cursor: pointer; }
  .search-modal__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65vw;
    height: 14.5rem;
    border-radius: 1.8rem;
    overflow: hidden;
    z-index: 1; }
  .search-modal__input {
    display: block;
    font-size: 3.2rem;
    font-weight: 800;
    color: #2b394e;
    padding-left: 2rem;
    outline: none;
    border: none;
    height: 70%;
    width: 100%; }
    .search-modal__input::placeholder {
      color: #dbdbdf; }
  .search-modal__desc-container {
    font-size: .9rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
    background-color: #646eff;
    display: flex;
    align-items: center;
    height: 30%;
    padding-left: 2.4rem; }

#search-modal:checked ~ .search-modal,
#search-modal:checked ~ .overlay {
  display: block; }

.mobile-menu {
  display: none;
  position: relative; }
  @media only screen and (max-width: 1023px) {
    .mobile-menu {
      display: block; } }
  .mobile-menu .sub-nav {
    left: initial;
    right: 0;
    min-width: 20rem;
    text-align: right; }
  .mobile-menu .bar {
    width: 2.5rem;
    height: 3px;
    background-color: #2b394e;
    display: block;
    margin-top: .6rem; }
    .mobile-menu .bar-container {
      padding: 1.2rem; }

#mobile-menu:checked + .sub-nav {
  display: block; }

.authentication__form .authen-label {
  font-size: 1.4rem;
  display: block; }

.authentication__form .authen-input {
  display: block;
  width: 60%;
  height: 7rem;
  margin: 1.2rem auto 2.8rem;
  padding: 0 2.4rem;
  border: none;
  outline: none;
  color: #2b394e;
  background-color: #ededf1;
  border-radius: 10rem;
  font-size: 2.2rem;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .authentication__form .authen-input {
      width: 80%; } }

.authentication__form .authentication__question {
  display: block;
  font-size: 1.4rem;
  margin-top: 2.4rem; }
  .authentication__form .authentication__question a {
    font-size: 1.4rem;
    font-weight: 900;
    color: #2b394e; }
    .authentication__form .authentication__question a:hover {
      text-decoration: underline; }

.change-theme {
  position: fixed;
  right: 2rem;
  bottom: 2rem; }
  .change-theme__img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s linear; }
    .change-theme__img:hover {
      transform: scale(1.1); }
    .change-theme__img-sun {
      display: none; }
  .change-theme__round {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #344052;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: -1;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease; }

#change-theme:checked + #change-theme-label .change-theme__img-moon {
  display: none; }

#change-theme:checked + #change-theme-label .change-theme__img-sun {
  display: block; }

#change-theme:checked ~ .change-theme__round {
  transform: scale(100);
  opacity: 0;
  visibility: hidden; }

.wrapper {
  width: 115rem;
  max-width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .wrapper {
      width: 91rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
      width: 66rem; } }
  @media only screen and (max-width: 767px) {
    .wrapper {
      width: 45rem; } }
  @media only screen and (max-width: 480px) {
    .wrapper {
      width: 34rem; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--col-space)); }
  .row.row-xl-5 {
    --col-num: 5; }
  .row.row-xl-4 {
    --col-num: 4; }
  .row.row-xl-3 {
    --col-num: 3; }
  .row.row-xl-2 {
    --col-num: 2; }
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .row.row-lg-4 {
      --col-num: 4; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .row.row-lg-3 {
      --col-num: 3; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .row.row-lg-2 {
      --col-num: 2; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .row.row-lg-1 {
      --col-num: 1; } }
  @media only screen and (max-width: 767px) {
    .row.row-sm-2 {
      --col-num: 2; } }
  @media only screen and (max-width: 767px) {
    .row.row-sm-1 {
      --col-num: 1; } }

.col {
  flex-basis: calc(100% / var(--col-num));
  padding: 0 var(--col-space);
  flex-shrink: 0;
  flex-grow: 0; }

.header {
  height: 15rem;
  display: flex;
  align-items: center; }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__logo-img {
    height: 4.5rem;
    object-fit: cover; }
  @media only screen and (max-width: 1023px) {
    .header__right {
      display: none; } }
  .header__right-item {
    font-size: 2rem;
    font-weight: 900;
    color: #2b394e; }
    .header__right-item + .header__right-item {
      margin-left: 3rem; }

@media only screen and (max-width: 1023px) {
  .navigation {
    display: none; } }

.navigation__item {
  display: inline-block;
  position: relative; }
  .navigation__item + .navigation__item {
    margin-left: 2.2rem; }
  .navigation__item-link {
    font-size: 2rem;
    font-weight: 900;
    padding: 0.8rem;
    color: #2b394e;
    position: relative; }
    .navigation__item-link::after {
      content: "";
      display: block;
      position: absolute;
      top: 0.8rem;
      right: 0;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: .4rem;
      opacity: 0;
      transition: all 0.3s;
      background-color: #b4b4c4; }
    .navigation__item-link.navigation__item-link--active::after {
      opacity: 1;
      background-color: #646eff; }
    .navigation__item-link:hover::after {
      opacity: 1; }

.navigation__dropdown {
  font-size: 2.8rem;
  cursor: pointer;
  position: relative;
  top: 4px; }

.sub-nav {
  display: none;
  min-width: 14rem;
  position: absolute;
  top: 100%;
  left: -2rem;
  padding: 2rem;
  border-radius: 1.1rem;
  background-color: #ededf1;
  z-index: 1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fadeIn 0.2s linear; }
  .sub-nav__item + .sub-nav__item {
    margin-top: .8rem; }
  .sub-nav__item-link {
    font-size: 2rem;
    font-weight: 800;
    color: #2b394e;
    position: relative; }
    .sub-nav__item-link::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -0.8rem;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: .4rem;
      opacity: 0;
      transition: all 0.3s;
      background-color: #b4b4c4; }
    .sub-nav__item-link:hover::after {
      opacity: 1; }

.footer {
  --col-space: 2rem;
  padding: 8rem 0 2rem;
  position: relative;
  border-top: 1px solid #0000000f; }
  .footer .col:first-child {
    flex: 1; }
    @media only screen and (max-width: 1023px) {
      .footer .col:first-child {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 2.4rem; }
        .footer .col:first-child .footer__desc {
          margin: 1.2rem auto; } }
  @media only screen and (max-width: 767px) {
    .footer {
      text-align: center; }
      .footer .col:last-child {
        flex-basis: 100%; } }
  .footer__logo {
    height: 3.5rem;
    object-fit: cover; }
  .footer__desc {
    width: 50%;
    color: #2b394e;
    line-height: 1.4;
    margin: 1.2rem 0; }
  .footer__social-item {
    display: inline-block; }
    .footer__social-item + .footer__social-item {
      margin-left: 2rem; }
    .footer__social-item-link {
      display: inline-block;
      font-size: 2.4rem;
      padding: .8rem;
      color: #2b394e; }
      .footer__social-item-link:hover {
        color: #646eff; }
  .footer__nav {
    padding: 0 2.4rem; }
    .footer__nav-heading {
      font-size: 1.2rem;
      line-height: 1;
      color: #2b394e;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 3.2rem; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .footer__nav-heading {
          margin-bottom: 2.4rem; } }
    .footer__nav-item + .footer__nav-item {
      margin-top: 2.4rem; }
    .footer__nav-item-link {
      font-weight: 800;
      color: #2b394e; }
      .footer__nav-item-link:hover {
        text-decoration: underline; }
  .footer__copyright {
    display: block;
    font-size: 1.2rem;
    margin-top: 3rem; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .footer__copyright {
        text-align: center; } }

.featured-section {
  --col-space: 2rem;
  position: relative; }
  @media only screen and (max-width: 1023px) {
    .featured-section {
      --col-space: 1rem; }
      .featured-section .card {
        height: 100%; } }
  @media only screen and (max-width: 767px) {
    .featured-section .col:last-child {
      flex-basis: 100%; } }
  @media only screen and (max-width: 1023px) {
    .featured-section .col {
      margin-bottom: 2rem; } }

.lastest-post-section {
  position: relative;
  margin: 6.4rem -2rem 0; }
  .lastest-post-section .col {
    margin-bottom: 4rem; }
  .lastest-post-section .post-list {
    --col-space: 2rem;
    padding: 0 4rem;
    margin-top: 4.8rem; }
    @media only screen and (min-width: 1024px) and (max-width: 1199px) {
      .lastest-post-section .post-list {
        padding: 0; } }
    @media only screen and (max-width: 1023px) {
      .lastest-post-section .post-list {
        --col-space: 1rem; } }
    @media only screen and (max-width: 1023px) {
      .lastest-post-section .post-list .col {
        margin-top: 2.4rem; } }
    @media only screen and (max-width: 767px) {
      .lastest-post-section .post-list .col:last-child {
        flex-basis: 100%; } }
    .lastest-post-section .post-list .row + .row {
      margin-top: 4.8rem; }

.story-section {
  --col-space: 2.8rem;
  margin-top: 2.4rem;
  position: relative; }
  @media only screen and (max-width: 1023px) {
    .story-section {
      --col-space: 1rem; }
      .story-section .col {
        margin-bottom: 1.2rem; }
      .story-section .card {
        height: 100%; } }
  .story-section .section__heading {
    left: -7rem; }

.subscribe-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8rem 0; }
  @media only screen and (max-width: 1023px) {
    .subscribe-section {
      flex-direction: column; } }
  .subscribe-section .subscribe__heading {
    font-size: 4.6rem;
    font-weight: 900;
    color: #2b394e; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .subscribe-section .subscribe__heading {
        margin-bottom: 1.2rem; } }
  .subscribe-section .subscribe__form {
    display: flex;
    height: 9.4rem;
    padding: 1rem;
    border-radius: 10rem;
    background-color: #ededf1; }
  .subscribe-section .subscribe__input {
    width: 23rem;
    height: 100%;
    padding-left: 4.2rem;
    background-color: inherit;
    border: none;
    border-radius: 10rem;
    outline: none;
    font-size: 2rem;
    color: #2b394e;
    transition: width 0.3s; }
    @media only screen and (max-width: 480px) {
      .subscribe-section .subscribe__input {
        width: 16rem; } }
    .subscribe-section .subscribe__input:focus {
      width: 26rem; }
      @media only screen and (max-width: 480px) {
        .subscribe-section .subscribe__input:focus {
          width: 19rem; } }

.authentication {
  display: flex;
  height: 100vh; }
  .authentication__left {
    background: url(../img/authen-img.jfif) center/cover no-repeat;
    flex-basis: 40%; }
    @media only screen and (max-width: 1023px) {
      .authentication__left {
        display: none; } }
  .authentication__container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); }
  .authentication__right {
    position: relative;
    flex: 1;
    padding-top: 2.4rem;
    text-align: center;
    color: #2b394e; }
    .authentication__right .logo {
      height: 4.5rem; }
      .authentication__right .logo-box a {
        display: inline-block; }
    .authentication__right .heading {
      font-size: 4.2rem;
      font-weight: 900;
      margin-bottom: 3.2rem; }

.authentication__left {
  background: url(../img/authen-img-2.jfif) center/cover no-repeat; }

.authors-section {
  position: relative; }
  .authors-section__list {
    --col-space: 2rem;
    padding: 3.2rem 0; }
    @media only screen and (max-width: 1023px) {
      .authors-section__list {
        --col-space: 1rem; }
        .authors-section__list .row {
          justify-content: center; }
        .authors-section__list .col {
          width: 60%;
          flex-basis: 60%;
          margin-bottom: 2.4rem; }
        .authors-section__list .card.card--sm .card__img {
          width: 7rem;
          height: 7rem;
          margin-right: 1.9rem; }
        .authors-section__list .card.card--sm .card__content {
          padding-left: 0; }
        .authors-section__list .card.card--sm .card__desc {
          display: none; }
        .authors-section__list .card__link {
          display: flex !important;
          align-items: center; } }
    @media only screen and (max-width: 767px) {
      .authors-section__list .col {
        flex-basis: 100%;
        margin-bottom: 2.4rem; } }
    @media only screen and (min-width: 1024px) and (max-width: 1199px) {
      .authors-section__list .col {
        margin-bottom: 2.4rem; } }
  .authors-section .author__else {
    margin-top: 6.8rem;
    text-align: center; }
    @media only screen and (max-width: 1023px) {
      .authors-section .author__else {
        margin-top: 0; }
        .authors-section .author__else .card {
          width: 60%; }
          .authors-section .author__else .card__name {
            font-size: 1.9rem;
            font-weight: 900; }
          .authors-section .author__else .card__img {
            height: 7rem;
            width: 7rem; }
          .authors-section .author__else .card__link {
            justify-content: center; } }
    @media only screen and (max-width: 767px) {
      .authors-section .author__else .col {
        flex-basis: 100%;
        margin-bottom: 2.4rem; } }
    .authors-section .author__else-heading {
      font-size: 2.2rem;
      font-weight: 800;
      color: #2b394e;
      margin-bottom: 3.2rem; }
      @media only screen and (max-width: 1023px) {
        .authors-section .author__else-heading {
          display: none; } }
  .authors-section .card {
    background-color: #f4f4f7;
    height: 100%; }
    .authors-section .card:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px; }
    .authors-section .card__authors {
      font-size: 1.4rem;
      font-weight: 800;
      color: #2b394e; }
    .authors-section .card__desc {
      font-size: 1.4rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden; }
  .authors-section .author__else .card {
    width: 100%; }
    @media only screen and (max-width: 1023px) {
      .authors-section .author__else .card {
        border-radius: 2.6rem; } }
  .authors-section .author__else .card__link {
    display: inline-block;
    min-width: 26rem; }
    @media only screen and (max-width: 767px) {
      .authors-section .author__else .card__link {
        width: 100%; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .authors-section .author__else .card__link {
        width: 60%;
        margin: 0 auto; } }

body.dark {
  background-color: #1f2833; }
  body.dark .header,
  body.dark .post {
    color: #f7f9f9; }
    body.dark .header *,
    body.dark .post * {
      color: inherit !important; }
  body.dark .card {
    background-color: #2a3343; }
    body.dark .card__name {
      color: #f7f9f9; }
    body.dark .card:hover {
      box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px; }
  body.dark .search-modal__input {
    background-color: #1f2833;
    color: #f7f9f9; }
    body.dark .search-modal__input::placeholder {
      color: #394555; }
  body.dark .search-modal__desc-container {
    background-color: #cb73ff; }
  body.dark .mobile-menu .bar {
    background-color: #f7f9f9; }
  body.dark .sub-nav {
    background-color: #344052; }
  body.dark .section__heading {
    color: #f7f9f9; }
    body.dark .section__heading__seperate {
      fill: #344052; }
  body.dark .post__desc {
    color: #f7f9f9; }
  body.dark .btn--blue {
    background-color: #cb73ff; }
    body.dark .btn--blue:hover {
      background-color: #b840ff; }
  body.dark .post .tag {
    background-color: #344052; }
    body.dark .post .tag:hover {
      background-color: #485871; }
  body.dark .subscribe-section .subscribe__heading {
    color: #f7f9f9; }
  body.dark .subscribe-section .subscribe__form {
    background-color: #344052; }
  body.dark .subscribe-section .subscribe__input {
    color: #f7f9f9; }
    body.dark .subscribe-section .subscribe__input::placeholder {
      color: #f7f9f9; }
  body.dark .footer {
    color: #f7f9f9; }
    body.dark .footer * {
      color: inherit !important; }
    body.dark .footer__social-item-link:hover {
      color: #cb73ff !important; }
  body.dark .authors-section .author__else-heading {
    color: #f7f9f9; }
  body.dark .authors-section .card {
    color: #f7f9f9; }
    body.dark .authors-section .card * {
      color: inherit !important; }
  body.dark .authentication {
    background-color: #1f2833;
    color: #f7f9f9; }
    body.dark .authentication * {
      color: inherit !important; }
    body.dark .authentication .authen-input {
      background-color: #2a3343; }
